@import './global/variables';
@import './components/dialogue';
@import './components/stats';
@import './components/notification';
@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}
body {
  overflow: hidden;
}

@include stats();

@include notification();

@include dialogue();